*{
    padding: 5px;
}

body {
    background: rgb(240, 240, 240);
}


.page{
    text-align: center;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 2.5px 2px rgb(120, 120, 120);
}

.corpo{
    border: 2px solid gray; 
    border-radius: 8px;
    align-items: center;
    
}

.btn{
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    margin-top: 6px;
    box-shadow: 1px 1px 1px gray;
}

.btn:hover{
    background: green;
    color: white;
    border-radius: 6px;
    box-shadow: 1px 1px 1px gray;
}

.fc{
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
}

.nome{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}